
@{
    ViewBag.Title = "CariAdd";
}

<div class="container-fluid">
    <div class="col-sm-12">
        <div class="the-box bg-default no-border no-margin heading" style="background-color: whitesmoke;">
            <div class="row">
                <div class="col-sm-6">
                    <h1><i class="fa fa-user icon-lg icon-circle icon-bordered"></i> Cari Kayıt İşlemi</h1>
                </div>
            </div>
        </div>
        <div class="the-box form-horizontal ">
            <h4 class="small-title"></h4>
            @using (Html.BeginForm("UserAdd", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="col-lg-3 control-label"></label>
                    <div class="col-lg-4">
                        @Html.ValidationSummary(true, "", new { @class = "error", @style = "margin-top: -2.3% !important;color:#D51919;" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Adı Soyadı</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" name="Name" placeholder="Adı" id="Name" required data-bv-notempty-message="The first name is required and cannot be empty" />
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" name="LastName" id="LastName" placeholder="Soyadı" required data-bv-notempty-message="The last name is required and cannot be empty" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Kullanıcı Adı</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" name="UserName" id="UserName" placeholder="Kullanıcı Adı"
                               data-bv-message="The username is not valid"
                               required />
                    </div>
                </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">E-Posta Adresi</label>
                            <div class="col-lg-4">
                                <input class="form-control" name="Email" id="Email" placeholder="E-Posta Adresi" type="email" data-bv-emailaddress-message="The input is not a valid email address" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Sifre</label>
                            <div class="col-lg-4">
                                <input type="password" class="form-control" name="Password" id="Password" placeholder="Sifre"
                                       required data-bv-notempty-message="The password is required and cannot be empty"
                                       data-bv-identical="true" data-bv-identical-field="confirmPassword" data-bv-identical-message="The password and its confirm are not the same"
                                       data-bv-different="true" data-bv-different-field="username" data-bv-different-message="The password cannot be the same as username" />
                            </div>
                            <div class="col-lg-4">
                                <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword" placeholder="Sifre Tekrar"
                                       required data-bv-notempty-message="The confirm password is required and cannot be empty"
                                       data-bv-identical="true" data-bv-identical-field="password" data-bv-identical-message="The password and its confirm are not the same"
                                       data-bv-different="true" data-bv-different-field="username" data-bv-different-message="The password cannot be the same as username" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Doğum Tarihi</label>
                            <div class="col-lg-4">
                                <input type="date" class="form-control" name="Birthday" id="Birthday" data-bv-date="false" data-bv-date-format="GG.MM.YYYY" data-bv-date-message="The birthday is not valid" /> (GG.MM.YYYY)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Telefon Bilgileri</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control phone_us_masking" required placeholder="(000) 000-0000" name="Phone" id="Phone" /> (000) 000-0000 / Telefon
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control cc_security_masking" required name="DahiliPhone" id="DahiliPhone" placeholder="0000" maxlength="4" autocomplete="off" />(0000) / Dahili Telefon
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Kullanıcı Fotoğrafı</label>
                            <div class="col-lg-4">
                                <input type="file" class="form-control btn-file" name="files" id="files" data-bv-date="false" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-3">
                                <button type="submit" class="btn btn-default">Kaydet</button>
                            </div>
                        </div>
            }
        </div>
    </div>
</div>

