@{

    ViewBag.Title = "Araç Kayıt İşlemi";
}

<div class="container-fluid">
    <div class="col-sm-12">
        <div class="the-box bg-default no-border no-margin heading" style="background-color: whitesmoke;">
            <div class="row">
                <div class="col-sm-6">
                    <h1><i class="fa fa-plus icon-lg icon-circle icon-bordered"></i> Araç Kayıt İşlemi</h1>
                </div>
            </div>
        </div>
        <div class="the-box form-horizontal ">
            <h4 class="small-title"></h4>
            @using (Html.BeginForm("VehicleAdd", "Vehicle", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="col-lg-3 control-label"></label>
                        <div class="col-lg-4">
                            @Html.ValidationSummary(true, "", new { @class = "error", @style = "margin-top: -2.3% !important;color:#D51919;" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Araç Bilgisi</label>
                        <div class="col-lg-4">
                            <input type="text" style=" text-transform: uppercase;" class="form-control" name="VehicleName" id="VehicleName" placeholder="Araç Bilgisi" required />
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Plaka</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" style="  text-transform: uppercase;" name="VehiclePlate" id="VehiclePlate" placeholder="34AU2015" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Model</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="Model" id="Model" placeholder="Model" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Yıl</label>
                        <div class="col-lg-4">
                            <input type="text" maxlength="4" class="form-control cc_security_masking" name="Year" id="Year" placeholder="Yıl" required />
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Vites</label>
                        <div class="col-lg-4">
                            <select class="form-control" name="Gear" id="Gear" required>
                                <option>Manuel</option>
                                <option>Otomatik</option>
                                <option>Yarı Otomatik</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Yakıt</label>
                        <div class="col-lg-4">
                            <select class="form-control" name="Fuel" id="Fuel" required>
                                <option>Dizel</option>
                                <option>Benzin</option>
                                <option>Benzin & LPG</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Aracın Bulunduğu ilçe</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control " style="  text-transform: uppercase;" placeholder="İlçe" name="State" id="State" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Km Yaktığı yakıt</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control money_masking" placeholder="Km Yaktığı yakıt" name="KmOilAsFuel" id="KmOilAsFuel" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Km</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control " placeholder="Km" name="Km" id="Km" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Araç Türü</label>
                        <div class="col-lg-4">
                            <select class="form-control" name="TypeOfVehicle" id="TypeOfVehicle" required>
                                <option>Otomobil</option>
                                <option>Arazi, SUV & Pick-up</option>
                                <option>Motosiklet </option>
                                <option>Minivan, Van & Panelvan </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Motor Kapasitesi</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Motor Kapasitesi" name="EngineCapacity" id="EngineCapacity" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Motor Gücü</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Motor Gücü" name="EnginePower" id="EnginePower" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Renk</label>
                        <div class="col-lg-4">
                            <select name="Color" id="Color" class="form-control" required="required">
                                <option value="" class="">Seçiniz</option>
                                <option value="Bej" label="Bej">Bej</option>
                                <option value="Beyaz" label="Beyaz">Beyaz</option>
                                <option value="Bordo" label="Bordo">Bordo</option>
                                <option value="Füme" label="Füme">Füme</option>
                                <option value="Gri" label="Gri">Gri</option>
                                <option value="Gümüş Gri" label="Gümüş Gri">Gümüş Gri</option>
                                <option value="Kahverengi" label="Kahverengi">Kahverengi</option>
                                <option value="Kırmızı" label="Kırmızı">Kırmızı</option>
                                <option value="Lacivert" label="Lacivert">Lacivert</option>
                                <option value="Mavi" label="Mavi">Mavi</option>
                                <option value="Mor" label="Mor">Mor</option>
                                <option value="Pembe" label="Pembe">Pembe</option>
                                <option value="Sarı" label="Sarı">Sarı</option>
                                <option value="Siyah" label="Siyah">Siyah</option>
                                <option value="Şampanya" label="Şampanya">Şampanya</option>
                                <option value="Turkuaz" label="Turkuaz">Turkuaz</option>
                                <option value="Turuncu" label="Turuncu">Turuncu</option>
                                <option value="Yeşil" label="Yeşil">Yeşil</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Ruhsat Sahibi</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" style="  text-transform: uppercase;" placeholder="Ruhsat Sahibi" name="RuhsatSahibi" id="RuhsatSahibi" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Ruhsat Seri Numarası</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Ruhsat Seri Numarası" name="RuhsatSeriNumber" id="RuhsatSeriNumber" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Tescil Tarihi</label>
                        <div class="col-lg-4">
                            <input type="date" class="form-control" placeholder="Tescil Tarihi" name="RegistrationDate" id="RegistrationDate" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Motor Numarası</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Motor Numarası" name="MotorNumber" id="MotorNumber" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Şasi Numarası</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Şasi Numarası" name="SasiNumber" id="SasiNumber" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Araç Alınma Tarihi</label>
                        <div class="col-lg-4">
                            <input type="date" class="form-control" placeholder="Kayıt Tarihi" name="CreatedStarFiloDate" id="CreatedStarFiloDate" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Açıklama</label>
                        <div class="col-lg-4">
                            <textarea type="text" class="form-control" placeholder="Açıklama" name="Description" id="Description" required></textarea>
                        </div>
                    </div>
                    <hr />




                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                            <button type="submit" class="btn btn-default">Kaydet</button>
                        </div>
                    </div>
                    }
        </div>
    </div>
</div>

